/* navbar */
.navbar{
  margin-bottom: 100px;
  background-color: #233036;
  height: 54px;
  padding: 10px 10px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}
#logo{
  float:left;
  margin: 0px 0px 0px 256px;
  border-right:1px solid grey;
}
.navbar > ul > li{
  list-style-type: none;
  padding: 0px 20px;
  display: inline-block;
  color: #ffffff;
}
.navbar > .left-section{
  float: left;
  margin-left: -30px;
}
.navbar > .left-section > li:not(:last-child){
  border-right:1px solid #ffffff;
}
.navbar > ul > li > a, .nav-contact-number{
  color: #ffffff;
  font-size: 16.5px;
  text-decoration: none;
}
.navbar > .right-section{
  float:right;
  margin-right: 256px;
}
#login-btn{
  background-color: #B5CF86;
  padding: 3px 25px;
  border-radius: 15px;
}
#login-btn > a{
  color: black;
}
#signup-btn{
  background-color: #29383F;
  padding: 3px 25px;
  border-radius: 15px;
}
.dropdown{
  display: none;
  background-color: #B5CF86;
  padding: 5px;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 10px;
}
.dropdown > li{
  list-style-type: none;
  border-bottom: 1px solid grey;
  padding: 10px 10px;
}
.dropdown > li > a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 10px;
}
.dropdown > li:hover{
  background-color: #59A4BC;
}
.dropdown > li > a:hover{
  color: #ffffff;
}
#pricing-dropdown, #tests-dropdown, #resources-dropdown, {
  display:none;
}
@media only screen and (max-width: 1710px){
  #logo{
    margin-left: 0px;
  }
  .nav-contact-number{
    display: none;
  }
  .navbar > .right-section{
    margin-right: 0px;
  }
}