#container{
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}
#runner-track{
    margin: 10px;
    width: 1010px;
    height: 100px;
    background-color: #ffffff;
}
.table-runner-heading{
    text-align: center;
}
/* #DDDDDD */
#player-information-container table, #player-information-container table td {
    border: 1px solid black;
    margin: -2px;
}