#container{
    background-color: #9E9E9E;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    height: 60px;
    width: 1200px;
}
#user-id{
    float: left;
    border: 3px solid #000000;
    margin: -10px;
    background-color: #ffffff;
}
#control-section{
    float: left;
    text-align: center;
    margin: -20px 0px 0px 35px;
}
#control-section button{
    padding: 5px;
    width: 150%;
    background-color: #57E4AE;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -10px;
}
#runner-track{
    margin-left: 190px;
    width: 1010px;
    height: 40px;
    background-color: #48A4CC;
    border-bottom: 10px solid gold;
}
#runner-progress{
    margin-top: 40px;
}
#information-table{
    margin: 10px 0px 0px 100px;
    clear: both;
}
table tr:not(:first-child){
    background-color: #DDDDDD;
    border-collapse: collapse;
    text-align: center;
}
table tr{
    border-bottom: 1px solid black;
}
table td:not(:last-child){
    border-right: 1px solid black;
}
.demo{
    width: 100px;
    height: 100px;
    background-color: red;
}
.demo-container{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
}