#containerOne{
	width: 260px;
	background-color: #453A46;
}
#containerOne .right-1{
	float: right;
	background-color: red;
	width: 200px;
	height: 90px;
	margin: 2.5px;
}
#containerOne .left-1{
	float: left;
	background-color: yellow;
	width: 50px;
	height: 30px;
	margin: 2.5px 2.5px 5px;
}
#containerOne .left-2{
	float: left;
	clear: left;
	background-color: yellow;
	width: 50px;
	height: 50px;
	margin: 5px 2.5px 2.5px;
}
#containerTwo{
	width: 260px;
	clear: both;
	margin: 0px;
	background-color: blue;
}
#containerTwo .left{
	float: left;
	background-color: blue;
	margin: 2.5px;
	width: 50px;
}
#containerTwo .center{
	float: left;
	background-color: yellow;
	margin: 2.5px;
	width: 180px;
}
#containerTwo .right{
	float: right;
	background-color: yellow;
	margin: 0px;
}
#containerTwo .top{
	background-color: yellow;
	margin: 2.5px 2.5px 5px;
	width: 15px;
}
#containerTwo .bottom{
	background-color: green;
	margin: 5px 2.5px 2.5px;
	width: 15px;
}

#container5{
	/* width: 600px; */
	height: 500px;
	border: 1px solid grey;
	background-color: yellow;
	padding: 2px;
}
#col1{
	width: 100px;
	float: left;
}
#col3{
	width: 100px;
	float:right;
}
#col2{
	width: 100px;
	float: center;
}

#sectionCenter p{
	/* display: inline; */
}
#container5 p{
	background-color: #ffffff;
	margin: 0px;
	border: 1px solid grey;
	padding: 10px;
}
#sectionCenter p:first-child{
	float: left;
}
#sectionBottom{
	/* clear: both; */
	color: red;
}