body { 
    /*padding-top: 65px;*/
}
.navbar{
  box-shadow: 0 1px 11px rgba(124, 146, 169, 0.5);
  background-color: #fff;

  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar-link{
  background-color: white;
  border-top: 2px solid #fff;
}
.navbar-link:hover{
  border-top-color: blue;
  color: blue;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover {
    color: #555;
    background-color: #fff;
}
.navbar-default .navbar-nav .active{
  border-top-color: blue;
}

/*break at lg, sider in index.js also breaks at lg*/
@media screen and (max-width: 767px){
  .navbar-link{
    background-color: white;
    border:none;
    border-top-color: #fff;
  }
  .navbar-link:hover{
    background-color: lightblue;
    color: blue;
  }
  .navbar-default .navbar-nav .active a,
  .navbar-default .navbar-nav .active a:focus,
  .navbar-default .navbar-nav .active a:hover {
      color: #555;
      background-color: lightblue;
  }
}

.navbar-form{
  border:none;
}
/*#navbar-search-collapsed{display: none;}*/
@media (min-width: 551px){
  #navbar-search-normal {
    padding: 0;
    position: absolute;
    top: 0;
    left: 240px;
  }
}
@media (max-width: 550px){
  input[type="text"]{
    margin: 0;
  }
  .form-control{
      margin-bottom: none;
    }
    .navbar-form{
      padding: 0;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
}